@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100&family=Raleway:ital,wght@0,100;1,800&family=Source+Sans+Pro:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  color: white;
  background-color: #1c1d21;
  font-weight: bolder;
}

th {
  background-color: #f98686;
}

select option{
  font-weight: bolder!important;
}